[submodule "src/cocls"]
	path = src/cocls
	url = https://github.com/ondra-novak/cocls.git
[submodule "src/coroserver"]
	path = src/coroserver
	url = https://github.com/ondra-novak/coroserver.git
[submodule "src/docdb"]
	path = src/docdb
	url = https://github.com/ondra-novak/docdb
[submodule "src/shared"]
	path = src/shared
	url = https://github.com/ondra-novak/ondra_shared
